<div class="bookshelf">
  <div class="bookshelf_walls">
    <div class="bookshelf_row">
      <div class="book"><%= image_tag "book.png" %></div>
      <div class="book"><%= image_tag "book.png" %></div>
      <div class="book"><%= image_tag "book.png" %></div>
      <div class="book"><%= image_tag "book.png" %></div>
      <div class="book"><%= image_tag "book.png" %></div>
    </div>
    <div class="bookshelf_row">
      <div class="book"><%= image_tag "book.png" %></div>
      <div class="book"><%= image_tag "book.png" %></div>
      <div class="book"><%= image_tag "book.png" %></div>
      <div class="book"><%= image_tag "book.png" %></div>
      <div class="book"><%= image_tag "book.png" %></div>
    </div>
    <div class="bookshelf_row">
      <div class="book"><%= image_tag "book.png" %></div>
      <div class="book"><%= image_tag "book.png" %></div>
      <div class="book"><%= image_tag "book.png" %></div>
      <div class="book"><%= image_tag "book.png" %></div>
      <div class="book"><%= image_tag "book.png" %></div>
    </div>
    <!--<div class="bookshelf_under_shadow"></div>-->
  </div>
</div>