<div pub-key="pub-31ccbcae-5e76-4eaa-82e4-70f61ba3aa41" sub-key="sub-d87710eb-4468-11e1-884a-cda464106799" ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
<script src="http://cdn.pubnub.com/pubnub-3.1.min.js"></script>
<div class="container">
  <div class="bookshelf">
    <div class="bookshelf_walls">
      <div class="bookshelf_row">
        <div class="book"><%= image_tag "" %></div>
        <div class="book"><%= image_tag "" %></div>
        <div class="book"><%= image_tag "" %></div>
        <div class="book"><%= image_tag "" %></div>
        <div class="book"><%= image_tag "" %></div>
      </div>
      <div class="bookshelf_row">
        <div class="book"><%= image_tag "" %></div>
        <div class="book"><%= image_tag "" %></div>
        <div class="book"><%= image_tag "" %></div>
        <div class="book"><%= image_tag "" %></div>
        <div class="book"><%= image_tag "" %></div>
      </div>
      <div class="bookshelf_row">
        <div class="book"><%= image_tag "" %></div>
        <div class="book"><%= image_tag "" %></div>
        <div class="book"><%= image_tag "" %></div>
        <div class="book"><%= image_tag "" %></div>
        <div class="book"><%= image_tag "" %></div>
      </div>
      <!--<div class="bookshelf_under_shadow"></div>-->
    </div>
  </div>
  <div class="control_panel">
    <%= image_tag "icon_search.png" %><br />
    <%= image_tag "icon_sort.png", :id => "sort-icon" %>
  </div>
  <div class="sort-control-panel">
    <div id="sort-icon-author">author</div>
    <div id="sort-icon-genre">genre</div>
    <div id="sort-icon-pubdate">published date</div>
    <div id="sort-icon-title">title</div>
  </div>
  <div>
    <div id="show-book">show book</div>
  </div>
  <div id="book-detail">
    <div id="book-detail-cover">
      <%= image_tag "" %>
    </div>
    <div id="book-detail-author"></div>
    <div id="book-detail-title"></div>
    <div id="book-detail-desc"></div>
    <div id="book-detail-genre"></div>
    <div id="book-detail-pubdate"></div>
  </div>
</div>