<div class="container">
  <div class="bookshelf">
    <div class="bookshelf_walls">
      <div class="bookshelf_row">
        <div class="book"><%= image_tag "" %></div>
        <div class="book"><%= image_tag "" %></div>
        <div class="book"><%= image_tag "" %></div>
        <div class="book"><%= image_tag "" %></div>
        <div class="book"><%= image_tag "" %></div>
      </div>
      <div class="bookshelf_row">
        <div class="book"><%= image_tag "" %></div>
        <div class="book"><%= image_tag "" %></div>
        <div class="book"><%= image_tag "" %></div>
        <div class="book"><%= image_tag "" %></div>
        <div class="book"><%= image_tag "" %></div>
      </div>
      <div class="bookshelf_row">
        <div class="book"><%= image_tag "" %></div>
        <div class="book"><%= image_tag "" %></div>
        <div class="book"><%= image_tag "" %></div>
        <div class="book"><%= image_tag "" %></div>
        <div class="book"><%= image_tag "" %></div>
      </div>
      <!--<div class="bookshelf_under_shadow"></div>-->
    </div>
  </div>
  <div class="control_panel">
    <%= image_tag "icon_search.png" %><br />
    <%= image_tag "icon_sort.png" %>
  </div>
</div>